.footer-container{
    background-color: black;
    padding: 5px 10%;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    
    .copyright{
        align-self: center;
    }
    .logo{
        width:50px;
        min-height: 36px;
        align-self: center;
        justify-self: end;
    }
}